<h1>Content Limits</h1>

<mat-list>
    <ng-container *ngFor="let category of filteredCategories">
        <mat-list-item>
            <strong class="left-column header">{{category.name}}</strong>
            <strong class="right-column header right-header" style="">${{category.total()}}</strong>
        </mat-list-item>
        <mat-list class="subitem">
            <div *ngFor="let content of category.contents">
                <mat-list-item>
                    <div class="left-column">{{ content.name }}</div>
                    <div class="right-column">
                        ${{ content.value }}
                        <button type="button" (click)="deleteContent(content)" class="btn btn-i"><i class="bi bi-trash"></i></button>
                    </div>

                </mat-list-item>
            </div>
        </mat-list>
    </ng-container>
</mat-list>
<div class="footer">
    <div class="left-column header">Total</div>
    <div class="right-column header right-header">${{ sumContents() }}</div>
</div>

<form [formGroup]="contentForm" (ngSubmit)="addContent(contentForm)">
    <mat-form-field appearance="fill" [floatLabel]="always">
        <mat-label>Item Name</mat-label>
        <input matInput id="contentName" type="text" formControlName="contentName">
    </mat-form-field>

    <mat-form-field appearance="fill" [floatLabel]="always">
        <mat-label>Amount</mat-label>
        <input matInput id="contentValue" type="number" formControlName="contentValue" placeholder="0" class="right-align">
        <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field appearance="fill" [floatLabel]="always">
        <mat-label>Category</mat-label>
        <mat-select formControlName="contentCategory">
            <mat-option *ngFor="let category of categories" [value]="category">
                {{category.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button class="btn btn-primary" type="submit">Add</button>
</form>

