<h1>Content Limits</h1>

<mat-list>
    <ng-container *ngFor="let category of categories">
        <mat-list-item>{{category.name}}</mat-list-item>
        <mat-list style="margin-left:30px;">
            <div *ngFor="let content of category.contents">
                <mat-list-item>{{ content.name }}</mat-list-item>
                <mat-list-item>{{ content.value }}</mat-list-item>
            </div>
        </mat-list>
    </ng-container>
</mat-list>

<form [formGroup]="contentForm" (ngSubmit)="onSubmit(contentForm)">
    <mat-form-field appearance="fill" [floatLabel]="always">
        <mat-label>Item Name</mat-label>
        <input matInput id="contentName" type="text" formControlName="contentName">
    </mat-form-field>

    <mat-form-field appearance="fill" [floatLabel]="always">
        <mat-label>Amount</mat-label>
        <input matInput id="contentValue" type="number" formControlName="contentValue" placeholder="0" class="right-align">
        <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field appearance="fill" [floatLabel]="always">
        <mat-label>Category</mat-label>
        <mat-select formControlName="contentCategory" >
            <mat-option *ngFor="let category of categories" [value]="category">
                {{category.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button class="btn btn-primary" type="submit" [disabled]="!contentForm.valid">Add</button>

</form>

